@inherits LayoutComponentBase


<body class="hold-transition login-page">
    <BlazoredToasts Position="ToastPosition.TopRight"
                    Timeout="10"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    ErrorIcon="fa fa-exclamation"
                    SuccessIcon="fa fa-thumbs-up"
                    ShowProgressBar="true" />
<div class="login-box">
      @Body
</div>
</body>

@code {

}
