<Authentication></Authentication>
@inherits LayoutComponentBase




<body class="hold-transition sidebar-mini text-sm">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override" ErrorIcon="fa fa-exclamation" SuccessIcon="fa fa-thumbs-up"
                            ShowProgressBar="true" />
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Hızlı Satış</a>
                </li>
                
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Ara" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <LogOutComponent></LogOutComponent>
                <!-- Notifications Dropdown Menu -->
           
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar --> 
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Ürün Yönetim Sistemi</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <UserInfo></UserInfo>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                           with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="../index" class="nav-link">
                                <i class="nav-icon fas fa-sitemap"></i>
                                <p>
                                    Anasayfa
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="../ProductStock" class="nav-link">
                                <i class="nav-icon fas fa-list-ol"></i>
                                <p> Stok İşlemleri </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../ProductFeatures" class="nav-link">
                                <i class="nav-icon fas fa-barcode"></i>
                                <p> Ürün Tanımları </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../AddService" class="nav-link">
                                <i class="nav-icon fas fa-wrench"></i>
                                <p> Teknik Servis </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../ProductFeatures" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p> Raporlar </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../CategoryFeatures" class="nav-link">
                                <i class="nav-icon fas fa-pencil-alt"></i>
                                <p> Özellik Tanımlamaları </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../Users" class="nav-link">
                                <i class="nav-icon fas fa-users-cog"></i>
                                <p> Kullanıcı Tanımlamaları </p>
                            </a>
                        </li>
                    
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                @Body
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            <strong>Copyright &copy; 2022 </strong> 
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>
</body>

@code {
    private bool expandSubNav;
}